<div class="grid">
  <div class="attribute-title">
    <div class="title">{{ui.ID.ATTRIBUTES.getString()}}</div>
    <div>Points: {{state.attributePoints}}</div>
  </div>
  <div class="attributes">
    <app-attribute-adjuster *ngFor="let attribute of state.attributes" [attribute]="attribute"></app-attribute-adjuster>
  </div>
  <div class="skill-title">
    <div class="title">{{ui.ID.SKILLS.getString()}}</div>
    <div>Points: {{state.skillPoints}}</div>
  </div>
  <div class="skills">
    <app-skill-choice *ngFor="let skill of state.skills" [skill]="skill"></app-skill-choice>
  </div>
</div>
