@import '../../../../assets/styles/variables';

.detailBackground {
}

.grid {
  display: grid;
  grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto;
  grid-template-columns: auto;
  grid-template-areas:
    "title"
    "ability-header"
    "ability-paragraph"
    "age-header"
    "age-paragraph"
    "alignment-header"
    "alignment-paragraph"
    "size-header"
    "size-paragraph"
    "speed-header"
    "speed-paragraph";
  padding: 10px;
}

.title {
  text-align: center;
  font-family: Cinzel Decorative;
  font-size: 300%;
}

.header {
  font-size: 200%;
  padding-left: 5px;
  padding-right: 5px;
}

.paragraph {
  font-size: 100%;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 10px;
}

.ability-header {
  grid-area: ability-header;
}

.ability-paragraph {
  grid-area: ability-paragraph;
}

.age-header {
  grid-area: age-header;
}

.age-paragraph {
  grid-area: age-paragraph;
}

.alignment-header {
  grid-area: alignment-header;
}

.alignment-paragraph {
  grid-area: alignment-paragraph;
}

.size-header {
  grid-area: size-header;
}

.size-paragraph {
  grid-area: size-paragraph;
}

.speed-header {
  grid-area: speed-header;
}

.speed-paragraph {
  grid-area: speed-paragraph;
}
