<div class="detailBackground">
  <div class="grid">
    <div class="title">{{class.classInfo.className}}</div>

<!--    <div class="header ability-header">Ability Score Increase:</div>-->

<!--    <div class="paragraph ability-paragraph">{{race.getRaceInfo().abilityScoreIncrease}}</div>-->

<!--    <div *ngIf="race.hasSubRaces !== undefined">-->
<!--      <div class="header age-header">Age:</div>-->

<!--      <div class="paragraph age-paragraph">{{race.getRaceInfo().age}}</div>-->

<!--      <div class="header alignment-header">Alignment:</div>-->

<!--      <div class="paragraph alignment-paragraph">{{race.getRaceInfo().alignment}}</div>-->

<!--      <div class="header size-header">Size:</div>-->

<!--      <div class="paragraph size-paragraph">{{race.getRaceInfo().size}}</div>-->

<!--      <div class="header speed-header">Speed:</div>-->

<!--      <div class="paragraph speed-paragraph">{{race.getRaceInfo().speed}}</div>-->
<!--    </div>-->

    <div class="header hit-point-header">Hit Points</div>

    <div class="paragraph hit-die">
      <strong>Hit Dice: </strong>{{class.classInfo.hitDice}}
    </div>

    <div class="paragraph hit-point-level-one">
      <strong>Hit Points at 1st Level: </strong>{{class.classInfo.hitPointLevelOne}}
    </div>

    <div class="paragraph hit-point-higher-level">
      <strong>Hit Points at Higher Levels: </strong>{{class.classInfo.hitPointHigherLevel}}
    </div>

    <div class="header proficiencies-header">
      Starting Proficiencies
    </div>

    <div class="paragraph proficiencies">
      You are proficient with the following items, in addition to any proficiencies provided by your race or background.
    </div>

    <div class="paragraph armor">
      <strong>Armor: </strong>{{class.classInfo.armor}}
    </div>

    <div class="paragraph weapons">
      <strong>Weapons: </strong>{{class.classInfo.weapons}}
    </div>

    <div class="paragraph tools">
      <strong>Tools: </strong>{{class.classInfo.tools}}
    </div>

    <div class="paragraph skills">
      <strong>Skills: </strong>{{class.classInfo.skills}}
    </div>
  </div>

</div>
