@import url('https://fonts.googleapis.com/css?family=Cinzel+Decorative');

.detailBackground {
//background-image: url(../../../../assets/images/parchment.jpeg);
//background-repeat: no-repeat;
//background-position: center center;
//background-size: 100% 100%;
//display: flex;
//height: 100%;
//width: 100%;
}

.grid {
  display: grid;
  grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto;
  grid-template-columns: auto;
  grid-template-areas:
    "title"
    "hit-point-header"
    "hit-die"
    "hit-point-level-one"
    "hit-point-higher-level"
    "proficiencies-header"
    "proficiencies"
    "armor"
    "weapons"
    "tools"
    "skills";
  padding: 10px;
}

.title {
  text-align: center;
  font-family: Cinzel Decorative;
  font-size: 300%;
}

.header {
  font-size: 200%;
  padding-left: 5px;
  padding-right: 5px;
}

.paragraph {
  font-size: 100%;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 10px;
}

.hit-point-header {
  grid-area: hit-point-header;
}

.hit-die {
  grid-area: hit-die;
}

.hit-point-level-one {
  grid-area: hit-point-level-one;
}

.hit-point-higher-level {
  grid-area: hit-point-higher-level;
}

.proficiencies-header {
  grid-area: proficiencies-header;
}

.proficiencies {
  grid-area: proficiencies;
}

.armor {
  grid-area: armor;
}

.weapons {
  grid-area: weapons;
}

.tools {
  grid-area: tools;
}

.skills {
  grid-area: skills;
}
