.character-info {
  background-image: url(../../../assets/images/parchment.jpeg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
  padding: 15px 20px 15px 20px;
  display: grid;
  grid-template-columns: 30% 30%;
  grid-template-rows: 10% 10% 40% 40%;
  grid-template-areas:
    "race attributes"
    "class attributes"
    "background-info background-info"
    "skills skills";
}

.race {
  grid-area: race;
}

.class {
  grid-area: class;
}

.label {
  font-family: Arial;
  font-size: 22px;
}

.skills {
  grid-area: skills;
  font-family: Arial;
  font-size: 20px;
  //display: flex;
  //flex-direction: row;
  //flex-wrap: wrap;
  //justify-content: flex-start;
}

.attributes {
  grid-area: attributes;
  font-family: Arial;
  font-size: 26px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.attribute {
  width: 33%;
  padding-bottom: 15px;
  text-align: center;
  //background-color: #93212B;
  //margin: 5px 5px 5px 5px;
}

.attribute-mobile {
  width: 50%;
  padding-bottom: 15px;
  text-align: center;
  //background-color: #93212B;
  //margin: 5px 5px 5px 5px;
}

.value {
  background-color: #20b08f;
  border-radius: 25px;
  margin-right: 25%;
  margin-left: 25%;
  text-align: center;
}

.background-info {
  grid-area: background-info;
  font-family: Arial;
  font-size: 18px;
}

.skill-modifier {
  text-align: right;
  padding: 0px 10px 0px 10px;
}
