.character-info {
  padding: 15px 20px 15px 20px;
}

.race-class {
  width: 30%;
}

.label {
  font-family: Arial;
  font-size: 22px;
}

.skills {
  font-family: Arial;
  font-size: 20px;
}

.attributes {
  font-family: Arial;
  font-size: 26px;
}

.background-info {
  font-family: Arial;
  font-size: 18px;
}

.skill-modifier {
  text-align: right;
  padding-right: 10px
}
