<div class="character-info">

  <div class="race-class">
    <div class="race">
      <label class="label">Race:</label>
      {{getRace()}}
    </div>
    <div class="class">
      <label class="label">Class: </label>
      {{character.className}}
    </div>
  </div>

  <div class="attributes">
    <div class="attribute strength" [class.attribute-mobile]="ui.isMobile()">
      <div class="label">Strength</div>
      <div class="value">{{character.strength}}</div>
    </div>
    <div class="attribute dexterity" [class.attribute-mobile]="ui.isMobile()">
      <div class="label">Dexterity</div>
      <div class="value">{{character.dexterity}}</div>
    </div>
    <div class="attribute constitution" [class.attribute-mobile]="ui.isMobile()">
      <div class="label">Constitution</div>
      <div class="value">{{character.constitution}}</div>
    </div>
    <div class="attribute intelligence" [class.attribute-mobile]="ui.isMobile()">
      <div class="label">Intelligence</div>
      <div class="value">{{character.intelligence}}</div>
    </div>
    <div class="attribute wisdom" [class.attribute-mobile]="ui.isMobile()">
      <div class="label">Wisdom</div>
      <div class="value">{{character.wisdom}}</div>
    </div>
    <div class="attribute charisma" [class.attribute-mobile]="ui.isMobile()">
      <div class="label">Charisma</div>
      <div class="value">{{character.charisma}}</div>
    </div>
  </div>

  <div class="background-info">
    <div class="background">
      <div class="label">Background</div>
      {{character.background}}
    </div>
    <div class="personalityTrait">
      <div class="label">Personality Trait</div>
      {{character.personalityTrait}}
    </div>
    <div class="ideals">
      <div class="label">Ideals</div>
      {{character.ideals}}
    </div>
    <div class="bonds">
      <div class="label">Bonds</div>
      {{character.bonds}}
    </div>
    <div class="flaws">
      <div class="label">Flaws</div>
      {{character.flaws}}
    </div>
  </div>

  <div class="skills">
    <div *ngFor="let skill of skills">
      <label class="skill-modifier">{{service.getSkillModifierForCharacter(skill)}}</label>
      <mat-radio-button class="skill-radio-button" [value]="skill.toString()" [disabled]="true" [checked]="service.isProficientSKill(skill)">
        {{skill.toString()}}
      </mat-radio-button>
    </div>
  </div>
</div>
