<div mat-dialog-title>
  {{choiceMap.get(currentChoice).getString()}}
</div>

<div mat-dialog-content class="content">
  <div class="grid" *ngIf="choiceMap.get(currentChoice) === ui.CONSTANTS.RACE">
    <div class="left-side">
      <div *ngIf="races">
        <div class="pad-5">
          <app-race-card *ngFor="let race of races" [race]="race" (click)="selectRace(race)"></app-race-card>
        </div>
      </div>
    </div>
    <div class="right-side">
      <app-race-detail *ngIf="selectedRace" [race]="selectedRace"></app-race-detail>
    </div>
  </div>

  <div class="grid" *ngIf="choiceMap.get(currentChoice) === ui.CONSTANTS.SUB_RACE">
    <div class="left-side">
      <div *ngIf="subRaces">
        <div class="pad-5">
          <app-race-card *ngFor="let subRace of subRaces" [race]="subRace" (click)="selectSubRace(subRace)"></app-race-card>
        </div>
      </div>
    </div>
    <div class="right-side">
      <app-race-detail *ngIf="selectedSubRace" [race]="selectedSubRace"></app-race-detail>
    </div>
  </div>

  <div class="grid" *ngIf="choiceMap.get(currentChoice) === ui.CONSTANTS.CLASS">
    <div class="left-side">
      <div *ngIf="classes">
        <div class="pad-5">
          <app-class-card *ngFor="let class of classes" [class]="class" (click)="selectClass(class)"></app-class-card>
        </div>
      </div>
    </div>
    <div class="right-side">
      <app-class-detail *ngIf="selectedClass" [class]="selectedClass"></app-class-detail>
    </div>
  </div>

  <div *ngIf="choiceMap.get(currentChoice) === ui.CONSTANTS.BACKGROUND">

  </div>

  <div *ngIf="choiceMap.get(currentChoice) === ui.CONSTANTS.ATTRIBUTES_SKILLS">

  </div>
</div>

<mat-dialog-actions align="end" class="actions">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button (click)="previous()" [disabled]="!canGoBack()">Previous</button>
  <button mat-button (click)="next()" [disabled]="!canGoForward()">Next</button>
  <button mat-button [mat-dialog-close]="newCharacter" [disabled]="!readyToFinish()">Finish</button>
</mat-dialog-actions>
