@import '../../../assets/styles/variables';

.left-side {
  grid-area: left-side;
}

.right-side {
  border-left: 1px solid $medium-gray;
  grid-area: right-side;
}

.pad-5 {
  padding: 5px;
}

.close-button {
  text-align: center;
}

.grid {
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 25% 75%;
  grid-template-areas: "left-side right-side";
  padding: 10px;
  width: 100%;
}

.content {
  height: 100%;
}

.actions {
  //height: 96px;
}
