@import '../../variables';

.characters {
  display: flex;
  height: 100%;
  width: 100%;
  margin-left: 300px;
}

.character-list {
  float: left;
  width: 300px;
  margin-left: -300px;
  background-color: #CCCCCC;
}

.character-display {
  float: right;
  width: 100%;
  background-color: #F0F0F0;
}

.new-character-button {
  color: $accent1;
  background-color: $shark;
  right: 20px;
  bottom: 20px;
  position: fixed !important;
}
