$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';

$shark: #222729;
$black: #000;
$gray: #888888;
$white: #fff;
$light_gray: #b8b8b8;
$green: #20b08f;
$menu: #17252a;
$primary1: #2b7a78;
$background: #93212B;
$primary2: #def2f1;
$accent1: #faebd7;
$medium-gray: #d8d8d8;
