@import 'variables';

.standard-card {
  margin-bottom: 10px;
  border-radius: 4px;
  text-align: center;
  background: $light-gray;
  padding: 5px;
  //height: 25px;
  font-size: 125%;
}

.selected-card {
  background: $green;
}
